.grid{
    width: 100%;
    display: grid;
    margin-bottom: 3%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.flex{
    width: 70%;
    border: 1px solid;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.addbtn{
    width: 20%;
    margin: auto;
}
.btngroup{
    width: 50%;
    margin: auto;
}